<%= form_for @scrapbook, :html => { :class => 'form-horizontal' } do |f| %>


  <div id="scrapbook-side-bar">
      <h3>Scraps</h3>
  <div>
    <ul>
      <li class="scrap-options">
        <div class="scrap small-scrap">
          <%= image_tag "redheart.png" %>
        </div>
      </li>
      <li class="scrap-options">
        <div class="scrap small-scrap">
          <%= image_tag "pink-backpack.png" %>
        </div>
      </li>
      <li class="scrap-options">
        <div class="scrap small-scrap">
          <%= image_tag "bow.png" %>
        </div>
      </li>
      <li class="scrap-options">
        <div class="scrap small-scrap">
          <%= image_tag "stamp.png" %>
        </div>
      </li>
      <li class="scrap-options">
        <div class="scrap small-scrap">
          <%= image_tag "rainbows.png" %>
        </div>
      </li>
    </ul>
  </div>
  <h3>Backgrounds</h3>
  <div>
    <div class="background-button">
      <%= image_tag "Paper_texture_v5_by_bashcorpo.jpg" %>
    </div>
    <div class="background-button">
      <%= image_tag "tropical-background.jpg" %>
    </div>
    <div class="background-button">
      <%= image_tag "Background_stamps.jpg" %>
    </div>
    <div class="background-button">
      <%= image_tag "Paper_texture_1_by_wojtar_stock.jpg" %>
    </div>
  </div>
  <h3>Borders</h3>
  <div>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
  </div>

  </div>

  <div class="page ui-widget-header">

  </div>

<% end %>
