<h1>Listing scrapbooks</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scrapbooks.each do |scrapbook| %>
  <tr>
    <td><%= scrapbook.name %></td>
    <td><%= link_to 'Show', scrapbook %></td>
    <td><%= link_to 'Edit', edit_scrapbook_path(scrapbook) %></td>
    <td><%= link_to 'Destroy', scrapbook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scrapbook', new_scrapbook_path %>
